<!DOCTYPE html>
<html>
<head>
	<title>Electricity Portal</title>
</head>
<body>
  
  <p> <h2>Welcome to the Electricity Portal</h2>
  	              World power by Us
  </p>

  <p>
  	Dispur Wireless, Assam’s largest wireless provider provides wireless voice and data communications
services across Assam to more than 9 million customers <br>
Dispur Cable, cable business of Dispur is a leading cable services provider, offering cable television,
high-speed Internet access, and telephony products for residential and business customers<br>
Dispur Media is Assam's premier group of category-leading broadcast, specialty, print and on-line
media assets with businesses in radio and television broadcasting, televised shopping, magazine and
trade journal publication, and sports entertainment
  </p>

 <a href="/logout"> Logout </a> <br> 
 <a href="/profile"> Profile </a> <br>
 <a href="/plans"> Tariff_Plans </a>

</body>
</html>